:root {
    --r: red;
    --b-tri: #3D9200;
    --y-tri: #B52D43;
    --tri: #6A237E;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "SFMono";
    src: url("font/SFMono-Regular.otf");
}

body {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: white; 
    background: #382F85 linear-gradient(140deg, #382F85 15%, #FF7C00);
    overflow-x: hidden;
}

header {
    font-family: "Roboto";
    font-size: 0.8em;
}

header img {
    position: relative;
    width: 80px;
    height: 80px;
    left: 50vw;
    top: 2vh;
    transform: rotate(0turn);
    transition: 0.5s;
}

header img:hover {
    position: relative;
    width: 100px;
    height: 100px;
    left: 50vw;
    top: 2vh;
    transform: rotate(1turn);
    transition: 0.5s;
}

h1,
h2,
h3,
h4 {
    display: block;
    font-family: "Montserrat";
    text-align: left;
    padding: 6px 10px;
    width: 100vw;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

.container {
    width: 1640px;
    height: 1180px;
    column-count: 3;
    column-gap: 200px;
}

.razdels {
    display: inline-block;
    position: relative;
    font-family: "Montserrat"; 
    border-radius: 25px;
    box-shadow: 0 0 0 black;
    transition: 0.5s;
    width: 580px;
    height: 530px;
    box-sizing: border-box;
    padding: 20px;
    background: linear-gradient(45deg, var(--b-tri), var(--y-tri));
    text-align: center;
    margin-bottom: 50px;
    margin-left: 50px;
    border: 2px solid gray;
    bottom: 0;
    right: 0;
    opacity: 0.8;
}

.razdels:hover {
    box-shadow: 10px 5px 7px black;
    border: 3px ridge white;
    bottom: 7px;
    right: 7px;
    transition: 0.5s;
    opacity: 1;
    padding: 50px;
    font-size: 20px;
}

.razdels:hover > a + img {
    width: 28%;
    height: 28%;
    transition: 0.5s;
    top: 26%;
    left: 35%;
}


.razdels img {
    position: relative;
    top: 30%;
    left: 40%;
    display: block;
    width: 20%;
    height: 20%;
    font-weight: normal;
    align-items: center;
    align-content: center;
    transition: 0.5s;
}

.razdels h3 {
    display: inline;
    font-size: 1em;
    text-align: center;
    width: 100%;
    height: 100%;
    text-shadow: 2px 2px 10px black;
}

.razdels a {
    position: absolute;
    right: 0;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.razdels a:hover {
    color: var(--tr);
}

footer .date {
    text-align: right;
    font-size: 0.7em;
    position: relative;
    right: 20px;
}

.hexlet a {
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    left: 100px;
}

.hexlet {
    text-align: center;
}

.hexlet a::before {
    right: 80px;
    top: 0px;
    position: absolute;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 25px;
    height: 25px;

    content: "";
}
